@import "tailwindcss";

@font-face {
  font-family: "TTTogether";
  src: url("/fonts/TTTogether.otf") format("opentype"),
    url("/fonts/TTTogether.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-tt-together {
  font-family: "TTTogether", sans-serif;
}

body {
  font-family: var(--font-pretendard), "Apple SD Gothic Neo", "Malgun Gothic",
    "맑은 고딕", sans-serif;
}

:root {
  --color-primary-100: #f2f6fe;
  --color-primary-200: #bde0ff;
  --color-primary-300: #bac2ff;
  --color-primary-400: #338aff;
  --color-black: #161618;
  --color-gray: #626262;
  --color-gray-100: #dadfe6;
  --color-gray-placeholder: #9ea6b2;
  --color-gray-border: #dadfe6;
  --color-muted: #eee;
  --color-gray-background: #f0f2f7;
  --color-red: #ff5353;
  --color-white: #fff;
  --color-white-30: #ffffff30;
  --color-white-90: #ffffff90;
  --color-primary-400-hover: #1e6fef;
  --shadow-common: 0px 4px 64px 0px rgba(0, 0, 0, 0.1);
}

textarea::-webkit-scrollbar {
  display: none !important;
}
textarea {
  resize: none;
}
